@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Montserrat:400,700&subset=latin-ext');
/*font-family: 'Indie Flower', cursive;
font-family: 'Montserrat', sans-serif;
*/

*{

	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.row:after{
	content: "";
	height:  0px;
	display: block;
	clear: both;
}

.container-fluid{
	width: 100%;
}

.container{
	max-width: 1100px;
	margin: 0 auto;
}

/* Hero */
header .submenu{
	background-color: #21242e;
	color: white;
	text-align: left;
	padding: 20px 0px;
}

header .submenu .container div{
	width: 25%;
	float: left;
	padding-left: 20px;
}

header .submenu a{
	color:white;
	text-decoration: none;
}

header .submenu a:hover{
	color: #fa573a;
	margin-right: 5px;
}
header .submenu .container div:last-child, header .submenu .container div:nth-child(3){
	text-align: right;
}

header .submenu i{
	color: #fa573a;
}

header nav{
	background-color: white;
	padding: 20px 0px;
}

header nav .logo{
	width: 100px;
	height:auto;
	float:left;
}
header nav .menu{
	float: right;
	padding-top: 5px;
}

header nav .menu li{
	display: inline-block;
	margin-left: 15px;
}

header nav a{
	text-decoration: none;
	color: #666;
}
header nav a:hover{
	text-decoration: none;
	color: #fa573a;
}
header nav .activo{
	color: #fa573a;
}
img{
	width: 100%;
	height: auto;
}

/* Fin Hero */