@import url(reset.css);
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Montserrat:400,700&subset=latin-ext');
/*font-family: 'Indie Flower', cursive;
font-family: 'Montserrat', sans-serif;
*/

*{

	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.row:after{
	content: "";
	height:  0px;
	display: block;
	clear: both;
}

.container-fluid{
	width: 100%;
}

.container{
	max-width: 1100px;
	margin: 0 auto;
}

/* Header */
header .submenu{
	background-color: #21242e;
	color: white;
	text-align: left;
	padding: 20px 0px;
}

header .submenu .container div{
	width: 25%;
	float: left;
	padding-left: 20px;
}

header .submenu a{
	color:white;
	text-decoration: none;
}

header .submenu a:hover{
	color: #fa573a;
	margin-right: 5px;
}
header .submenu .container div:last-child, header .submenu .container div:nth-child(3){
	text-align: right;
}
header .submenu .container div:first-child{
	padding-left: 0px;
}

header .submenu i{
	color: #fa573a;
}

header nav{
	background-color: white;
	padding: 20px 0px;
}

header nav .logo{
	width: 100px;
	height:auto;
	float:left;
}
header nav .menu{
	float: right;
	padding-top: 5px;
}

header nav .menu li{
	display: inline-block;
	margin-left: 15px;
}

header nav a{
	text-decoration: none;
	color: #666;
}
header nav a:hover{
	text-decoration: none;
	color: #fa573a;
}
header nav .activo{
	color: #fa573a;
}
img{
	width: 100%;
	height: auto;
}

/* Fin Header */

/* Hero */
.hero{
	background-image: url(../images/hamburguesa-de-mijo-con-pan.jpg);
	background-color: #222;
	height: 550px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-blend-mode: soft-light;
}
.hero>div{
	padding: 12% 15%;
	color: white;
}
.hero>div h2{
	font-size: 2.25em;
	font-family: 'Indie Flower', cursive;
	color: white;
}

.hero>div h3{
	font-size: 1.25em;
	color: #fa573a;
	margin: 20px 0px;
}

.hero>div div a{
	background-color: #fa573a;
	color: white;
	text-decoration: none;
	display: inline-block;
	padding:12px;
	margin: 20px 0px;
	border: 2px solid #fa573a;
}

.hero>div div a:hover{
	background-color: transparent;
	color: #fa573a;
	border: 2px solid #fa573a;
}
.hero .social li{
	display: inline-block;
	margin-right: 30px;
	font-size: 24px;
	padding-left: 2.5px;
}

.hero .social li a{
	color: white;
}

/* Fin Hero */

/* Main */
main h1{
	display: none;
}

section{
	padding: 50px 0px;
}

main .section-light h2{
	color: black;
	font-family: 'Indie Flower', cursive;
	text-align: center;
	font-size: 2.5em;
}
main .section-light h2 span{
	color: #fa573a;
}

main section .underline{
		position: relative;
		margin-bottom: 40px;
		height: 15px;
		width: 115px;
		margin: 0 auto; 
}
 main section .underline hr{
 	width: 115px;
 	position: absolute;
 	top: 6px;
 	border-color: #fa573a;
 

 }
 main section .underline span{
	display: block;
	font-weight: bold;
	position: absolute;
	top: 7.5px;
	left: 51px;
	color: #fa573a;
	
 }

/* Fin Main */
